<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Brian Wilson Site</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Brian Wilson Fansite</h1>
    <p>This is the Brian Wilson Fansite. Here you will find information about Brian Wilson.</p>
 
    <ul>
        <!--li><a href="/home">Return to home page</a ></li-->
        <li><a href="/about">Learn about Brian Wilson</a></li>
        <li><a href="/works">Discover Brian Wilson's work</a></li>
        <li><a href="/photo-gallery">Look at the Brian Wilson photo gallery</a></li>
    </ul>
    
    
    

  </body>
</html>