<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Brian Wilson Works</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Brian Wilson Works</h1>
    <h2>Below is a selected list of Brian Wilson's recordings:</h2>

    <h3>With The Beach Boys:</h3>
    <ul>
        <li>Surfin' Safari</li>
        <li>Little Deuce Coupe</li>
        <li>Surfer Girl</li>
        <li>Surfin' U.S.A.</li>
        <li>The Beach Boys' Christmas Album</li>
        <li>All Summer Long</li>
        <li>Shut Down Volume 2</li>
        <li>Concert</li>
        <li>Summer Days (And Summer Nights!!)</li>
        <li>Beach Boys' Party!</li>
        <li>The Beach Boys Today!</li>
        <li>Pet Sounds</li>
        <li>Wild Honey</li>
        <li>Smiley Smile</li>
        <li>Friends</li>
        <li>20/20</li>
        <li>Sunflower</li>
        <li>Live In London</li>
        <li>Surf's Up</li>
        <li>Carl And The Passions – "So Tough"</li>
        <li>Holland</li>
        <li>In Concert</li>
        <li>15 Big Ones</li>
        </ul>

    <h3>Solo recordings:</h3>
    <ul>
        <li>Brian Wilson </li>
        <li>Sweet Insanity</li>
        <li>I Just Wasn't Made For These Times </li>
        <li>Brian Wilson And Van Dyke Parks - Orange Crate Art </li>
        <li>Imagination </li>
        <li>Live At The Roxy Theatre </li>
        <li>Brian Wilson Presents Pet Sounds Live </li>
        <li>Smile </li>
        <li>Gettin' In Over My Head </li>
        <li>What I Really Want For Christmas </li>
        <li>That Lucky Old Sun </li>
        <li>Reimagines Gershwin </li>
        <li>In The Key Of Disney </li>
        <li>No Pier Pressure </li>
        <li>Long Promised Road (Original Motion Picture Soundtrack) </li>
        <li>At My Piano</li>
        </ul>

 
    <ul>
        <li><a href="/home">Return to home page</a ></li>
        <li><a href="/about">Learn about Brian Wilson</a></li>
        <!--li><a href="/works">Discover Brian Wilson's work</a></li-->
        <li><a href="/photo-gallery">Look at the Brian Wilson photo gallery</a></li>
    </ul>
    
    
    

  </body>
</html>



